{% for card in cards %}
    <div class="bank_card border-bottom pt-2 pb-2 {% if card.status == 0 %}disabled{% endif %}">
        <div class="bank_card__inner d-flex align-items-center">
            <div class="bank_card__type me-4"><span
                        class="bank_card__icon d-flex align-items-center justify-content-center">{{ include('main/card/field/_type.html.twig', {'type' : card.type}) }}</span>
            </div>
            <div class="bank_card__name_box me-auto">
                <div class="bank_card__name">{{ card.name }}</div>
                <div class="bank_card__bank text-muted fs-6">{{ card.bank }}</div>
            </div>

            <div class="bank_card__balance_box text-end">
                <div class="bank_card__balance">
                    <span class="value">{{ include('main/card/field/_currency.html.twig', {'currency' : card.currency}) }}</span>
                    <span class="name">{{ card.balance }}</span>
                </div>
                <div class="bank_card__balance_name text-muted fs-6">Баланс</div>
            </div>

            <div class="bank_card__actions ms-4 mb-auto">
                <div class="dropdown">
                    <button class="btn btn-link" type="button" id="dropdownMenuButton{{ card.id }}"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fal fa-ellipsis-h text-muted"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ card.id }}">
                        <li><a class="dropdown-item"
                               href="{{ path('card_update', {'cardId': card.id}) }}">Редактировать</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('card_status', {'cardId': card.id}) }}">{% if card.status == 0 %}Разблокировать{% else %}Заблокировать{% endif %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                {{ include('main/card/_delete.html.twig', {'id' : card.id}) }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}