{% extends 'main/base.html.twig' %}

{% block body %}
    {% if cards %}
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                Счета

                <a href="{{ path('card_add') }}" class="text-uppercase text-reset">
                    <i class="far fa-plus-circle text-primary"></i>
                    <span class="fs-6 fw-bold">Добавить карту</span>
                </a>

            </div>
            <div class="card-body">
                <div class="card-content">
                    {{ include('main/card/_card.html.twig', {'cards' : cards}) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="empty empty_cards text-center pt-5">
            <div class="empty__image mb-5"><img src="{{ asset('assets/main/images/not_found/card.svg') }}" alt=""></div>
            <div class="empty__text text-muted mb-4">У вас нету банковских карт</div>
            <div class="empty__actions">
                <a href="{{ path('card_add') }}" class="btn btn-primary btn-lg text-white">Добавить карту</a>
                {% if monobank_token %}
                    <a href="{{ path('list_all_cards_monobank') }}" class="btn btn-secondary btn-lg text-white">Добавить
                        карты монобанка</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}