<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LooCash{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% if app.user %}
    <header class="header bg-white d-flex align-items-center border-bottom">
        <div class="container-fluid">

            <div class="row justify-content-between w-100">
                <div class="col header__menu">
                    <div class="menu-icon" id="sideNavButton">
                        <span></span><span></span><span></span></div>
                    <span>{{ title }}</span>
                </div>

                <div class="col header__account text-end">
                    <a href="{{ path('app_logout') }}">{{ app.user.username }}</a>
                </div>
            </div>
        </div>
    </header><!-- .site-navigation -->


    <div class="sidenav bg-white">
        <a href="/" class="navbar-brand text-center">Loo<b>Cash</b></a>

        <nav class="sidenav__menu">
            <div class="sidenav__item">
                <a href="/"><i class="fal fa-tachometer-alt-fastest"></i><span>Главная</span></a>
            </div>
            <div class="sidenav__item">
                <a href="/transactions"><i class="fal fa-reply"></i><span>Транзакции</span></a>
            </div>
            <div class="sidenav__item">
                <a href="/balances"><i class="fal fa-toolbox"></i><span>Баланс</span></a>
            </div>
            <div class="sidenav__item">
                <a href="/"><i class="fal fa-calendar-alt"></i><span>Бюджет</span></a>
            </div>
            <div class="sidenav__item">
                <a href="/"><i class="fal fa-chart-line"></i><span>Отчет</span></a>
            </div>
            <div class="sidenav__item">
                <a href="{{ path('user_settings') }}"><i class="fal fa-cog"></i><span>Настройки</span></a>
            </div>
        </nav>
    </div>
{% endif %}

<div class="container-fluid">
    <div class="page-block mt-4">
        {% block body %}{% endblock %}
    </div>
</div>

<footer class="footer bg-white p-4 mt-auto">
    <div class="container">
        <div class="row align-items-center text-muted">
            <div class="col footer__copyright">All rights reserved</div>
            <div class="col text-end footer__site">&copy; 2021 “LooCash”</div>
        </div>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
