{% extends 'main/settings/base.html.twig' %}

{% block title %} Ключи доступа - LooCash {% endblock %}

{% block content %}

    <div class="mb-5">
        <h6 class="display-5 pb-2 mb-3 border-bottom text-black-50">Monobank</h6>
        <div class="">
            {{ form_start(formMonobankToken) }}
            {{ form_errors(formMonobankToken) }}
            <div class="row align-items-end">
                <div class="col-sm-9">
                    {{ form_row(formMonobankToken.token) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(formMonobankToken.save) }}
                </div>
            </div>
            {{ form_end(formMonobankToken) }}
        </div>
    </div>

    <div class="">
        <h6 class="display-5 pb-2 mb-3 border-bottom text-black-50">ПриватБанк</h6>
        <div class="">
            {{ form_start(formPrivatToken) }}
            {{ form_errors(formPrivatToken) }}
            <div class="row align-items-end">
                <div class="col-sm-4">
                    {{ form_row(formPrivatToken.privat_id) }}
                </div>
                <div class="col-sm-5">
                    {{ form_row(formPrivatToken.pass) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(formPrivatToken.save) }}
                </div>
            </div>
            {{ form_end(formPrivatToken) }}
        </div>
    </div>

{% endblock %}